/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.container {
    /* margin-top: 3.5rem; */
    transition: margin-left .5s;
    overflow-x: hidden;
}

/* .content-fluid {
    margin-top: 3.5rem;
} */

.content-fluid section {
    min-height: 100vh;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

section h2 {
    /* color: #343a40; */
    font-size: 3.5rem;
    /* text-transform: uppercase; */
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    /* color: #505050; */
}

h4 {
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    /* color: rgba(0,0,0,0.9); */
}

p {
    font-size: 1.2rem;
    line-height: 1.75rem;
    
}

.image-container img {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255,255,255,.2);
    border-radius: 50%;
}

#theme-btn-img {
    width: 28px;
    height: 28px;
}

.btn {
    display: block;
    background-color: #fff;
    border: none;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-direction-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-item-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #bd5d38;
}

.cursor-pointer {
    cursor: pointer;
}

.outline-none {
    outline: none;
}

.margin20px {
    margin: 20px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-right-20px {
    margin-right: 20px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

#app-header {
    width: 100%;
    height: 3.5rem;
    /* background-color: #fff;
    position: fixed;
    top: 0;
    left: 0; */
    margin: 0 15px;
}

#app-header > .nav-bar-open-btn {
    width: 5%;
    height: inherit;
}

#app-header > .app-header-items {
    width: 90%;
    height: inherit;
}

.app-header-items a {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 2.75rem;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

#navigation-bar {
    /* width: 16rem; */
    width: 0rem;
    height: 100vh;
    /* background-color: #bd5d38; */
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow-x: hidden;
    transition: 0.5s;
}

#navigation-bar .nav-bar-close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.nav-bar-open-btn, .nav-bar-close-btn {
    font-size: 36px;
}

#navigation-bar ul li {
    margin: 10px 0;
    font-size: 1.1rem;
    font-weight: 700;
}

#navigation-bar a {
    font-weight: 800;
    letter-spacing: .05rem;
    text-transform: uppercase;
    /* color: #fff; */
    color: #fff;
    opacity: 0.5;
    transition: 0.3s;
}

#navigation-bar a:hover {
    opacity: 0.75;
}

#navigation-bar a.active {
    opacity: 1;
}

#home {
    margin-top: -3.5rem;
}

/* Cursor */
#home .txt-type > .txt {
    border-right: 0.2rem solid #777;
    /* border-right: 0.2rem solid red; */
}

#scroll-top-link {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.social-media-links a {
    margin: 0 15px;
}

.social-media-links img {
    width: 2rem;
    height: 2rem;
}

.avatar-container img {
    border-radius: 50%;
}

.address {
    font-size: 1.2rem;
    font-weight: 500;
}

.address .city {
    text-transform: uppercase;
}

.address .email {
    text-transform: lowercase;
    text-decoration: underline;
}

.resume-item .resume-content {
    width: 65rem;
}

.resume-item .resume-date {
    width: 15rem;
}

.resume-content h3 {
    font-size: 2.5rem;
}

.resume-content h4 {
    font-size: 2rem;
}